.homebodymain {
  /*body for mainpage*/
  background-color: white;
  font-family: 'Courier New', Courier, monospace;
  /* background-image: url(https://i.pinimg.com/originals/de/9d/2a/de9d2a0d402ea721609448607207e1bc.jpg);
  background-repeat: no-repeat;
  background-position: 85% -60%; */
  display: fixed;
  margin: auto;
}

.homebody {
  /*body for other pages*/
  background-color: white;
  font-family: 'Courier New', Courier, monospace;
}

.nav {
  /*nav bar - aiming to make it horizontal across the top with individual placement in different places */
  list-style: none;
  width: 100%;
}

.mainnavbar {
  /*code for Nav bar code for making a list*/
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

.mainnavlink {
  /*changing font size for main list so it stands out more*/
  font-size: larger;
  /* pointer-events: none; */
}

li {
  /*code for Nav bar elements in my list */
  margin: 1%;
  width: 10%;
  display: inline-block;
}
a {
  /*code for Nav bar making the individual elements in the list look nice also setting up for the transition effect*/
  font-size: 100%;
  padding: 5%;
  color: rgb(126, 193, 215);
  text-decoration: none;
  background-image: linear-gradient(lightblue, lightblue);
  background-repeat: no-repeat;
  background-size: 100% 0;
  transition: 1s;
}

a:hover {
  /*code for Nav bar when hover over a list changes the color of the writing - and highlights slowly*/
  color: black;
  background-size: 100% 100%;
}

h1 {
  /* code for placement of H1 */
  margin-left: 10%;
}
.mainDiv {
  /* master div for main page */
  display: flex;
  margin-left: 15rem;
}

.polaroid {
  /* code for the poloroid */
  background-color: lightblue;
  padding: 1rem 1rem 1rem;
  box-shadow: 5px 7px 4px #888888;
}
.polaroid1 {
  /* code for the poloroid on how I became me */
  position: absolute;
  width: 240px;
  background-color: lightblue;
  padding: 1rem 1rem 1rem;
  box-shadow: 5px 7px 4px #888888;
}

img {
  /* code for the image */
  width: 19rem;
}
.containerBio {
  margin-bottom: 7rem;
}
.HowIBecameMeImg {
  /* code for the image on how i became me page */
  width: 15rem;
}

.meDescription {
  /* description for the poloroid image */
  font-family: 'Permanent Marker', cursive;
  font-size: small;
  text-align: center;
  color: #000;
  overflow-wrap: break-word;
}

.HowIBecameMeDescription {
  color: black;
  font-size: 20px;
  position: relative;
  top: 2rem;
  left: 3.5rem;
  height: 20rem;
  opacity: 0;
  width: 240px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Permanent Marker', cursive;
}
.HowIBecameMeDescription:hover {
  opacity: 1;
  background-color: lightblue;
}

.filmStrip {
  /* border for the tex */
  width: 50%;
  height: auto;
  background-color: rgb(255, 255, 255);
  border: 10px solid lightblue;
  margin: 1rem 1rem 1rem;
  box-shadow: 5px 7px 4px #888888;
  word-wrap: break-word;
}
.intro {
  /* where the text on first page goes  */
  font-family: 'Courier New', Courier, monospace;
  padding-left: 10%;
  padding-right: 10%;
  /* padding-top: 2%; */
  color: black;
  font-size: 24px;
}

@media (max-width: 320px) {
  /* iPhone, portrait 480x320 */
  .right {
    position: relative;
    left: 0%;
  }
}
@media (max-width: 481px) {
  .right {
    position: relative;
    left: 0%;
  }
  /*smaller tablets */
}
@media (max-width: 641px) {
  .right {
    position: relative;
    left: 0%;
  }
  /*portrait iPad */
}
@media (max-width: 961px) {
  /*landscape iPad */
  .right {
    position: relative;
    left: 0%;
  }
}

@media (max-width: 1025px) {
  /*laptops */
}
@media (max-width: 1281px) {
  /* desktops */
}
